#container {
    width: 1000px;
        max-width: 90%;
    height: 800px;
        min-height: 90%;

    margin: auto;
    
    border:  1px solid black;
}
#text {
    width: 89%;
    height: 30%;
    margin: 1% 5%;
    padding: 0;
    resize: none;
}
#send {
    width: 80%;
    height: 40px;
    margin: 1% 10%;
}
#elem {
    width: 89%;
    height: 40%;
    margin: 1% 5%;
    padding: 0;
    resize: none;
}